body{
    font-family: Rubik, Poppins, Arial, Helvetica;
    margin: 1em;
}

.button{
    height: 3em;
    width: 7em;
    border: none;
    border-radius: 100px;
    background-color:#218FFE;
    font-weight: 900;
    color: #F4F4F4;
    margin-right: 0.5em;
    margin-bottom: 1em;
    margin-top: 0.5em;
    font-size: larger;
}

.icon--menu{
    margin-left: 0.5em;
}

.navbar{
    font-weight: 800;
    list-style-type:none;
    margin-left: -3.5em;
    margin-top: -0.5em;

}

.navbar > li{
    padding: 1em;
    font-size: 2em;

}
